@model IEnumerable<Cadastro.Dominio.Aluno>

@{
    Layout = null;
}

<div class="table-responsive">
    <table id="tabelaalunos" class="table table-bordered table-condensed table-hover table-striped">
        <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Sexo</th>
            <th>Cidade</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var row in Model)
        {
            <tr class="myclass">
                <td class="codigo">@row.Codigo</td>
                <td class="nome">@row.Nome</td>
                <td class="Cpf">@row.Cpf</td>
                <td class="Sexo">@row.Sexo</td>
                <td class="Cidade">@row.Cidade</td>
            </tr>
        }
        </tbody>
    </table>
</div>






