<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Cadastro de Alunos</title>
    @Styles.Render("~/Content/css")
    
</head>
<body>
    
    <div class="content">
        <div class="topo">
            <header>
                <hgroup class="titulo">
                    <h1>JRA</h1>
                    <h2>Cadastro de Alunos</h2>
                </hgroup>
            </header>
        </div>
    </div>

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    
    @RenderSection("scripts", required: false)
</body>
</html>
